<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinical Diabetes Risk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<form action="/predict_clinical" method="POST">
</form>

</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/diabetesinfo">Diabetes Information</a>
    <a href="/insights">Insights From Data</a>
    <a href="/lifestyle">Lifestyle Risk Path</a>
    <a href="/clinical">Clinical Risk Path</a>
    <a href="/result">Your Results</a>
    <a href="/dashboard">view your dashboard</a>
    <a href="/help">Help & Contact</a>
</div>


<div class="container">
    <h1>Clinical Diabetes Risk Estimator</h1>

    <div class="form-grid">
<label>Age</label>
<input type="number" id="age" required>

<label>Gender</label>
<select id="sex" required>
    <option value="" disabled selected>Select gender</option>
    <option value="0">Female</option>
    <option value="1">Male</option>
</select>

<label>Ethnicity</label>
<select id="ethnicity" required>
    <option value="" disabled selected>Select ethnicity</option>
    <option value="0">White</option>
    <option value="1">Asian</option>
    <option value="2">Black</option>
    <option value="3">Mixed</option>
    <option value="4">Other</option>
</select>


<label>BMI</label>
<input type="number" id="bmi" required>

<label>Systolic BP</label>
<input type="number" id="sbp" required>

<label>Diastolic BP</label>
<input type="number" id="dbp" required>

    </div>

    <button id="predict-btn">Estimate Risk</button>


<div id="clinical-result" class="result-box"></div>

<script src="{{ url_for('static', filename='clinical.js') }}"></script>
</body>
</html>




