<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AYEEEEEr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/diabetesinfo">Diabetes Information</a>
    <a href="/insights">Insights From Data</a>
    <a href="/lifestyle">Lifestyle Risk Path</a>
    <a href="/clinical">Clinical Risk Path</a>
    <a href="/result">Your Results</a>
    <a href="/dashboard">view your dashboard</a>
    <a href="/help">Help & Contact</a>
</div>




</body>
</html>

